.contacts-item {
    display: inline-flex;
    align-items: center;
  
    color: $secondary-text;
    fill: $secondary-text;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    font-style: normal;
  
    transition: color $cubic;
    &:hover,
    &:focus {
        color: $accent;
        fill: $accent;
    }
    &:not(:last-child) {
        margin-right: 30px;
    }
 }
  .contacts-item .icon {
    margin-right: 10px;
  }